{% load static %}

<!DOCTYPE html>
<head>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
  {% if user.is_authenticated %}
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Code For Good</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user/logout">Logout</a></li>
      </ul>
    </div>
    </nav>
    {% else %}
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Code For Good</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register/">Register</a></li>
      </ul>
    </div>
    </nav>
    {% endif %}

{% block content %} {% endblock %}
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Designed By:- Team HexaCoders</h5>
              </div>
            </div>
          </div>
        </footer>
</body>