{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{object.entry_title}}</span>
          <p>{{object.entry_text}}</p>
        </div>
        <div class="card-action">
          <p>
          <break>
          </break>
      </p>
          <p>Writer: <a href="#">{{object.entry_author}}</a></p>
         <p> {{object.entry_date}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}